
.header{
    margin-top: 60px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header .headerTop{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .headerTop .title{
    font-size: 50px;
    font-family: 'Miscrosoft Yahei';
    margin-left:20px;
    font-weight: bold;
    color: black;
    flex-grow: 2;
}

.header .headerTop .scores{
    position: relative;
    width: 150px;
    height: 80px;
    border: 1px solid #eee;
    margin: 0 30px;
    border-radius: 8px;
    background: #BBADA0;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.header .headerTop .scores>div:nth-child(1){
    font-size: 25px;
    font-family: 'Miscrosoft Yahei';
    color: #eef;
}
.header .headerTop .scores>div:nth-child(2) {
    font-size: 26px;
    font-family: 'Miscrosoft Yahei';
    color: #fff;
}

@keyframes fadeInOne {
    0% {
        top: 60px;
        opacity: 1; 
    }
    50% {
        top: 20px;
        opacity: 0.5;
    }
    100% {
        top:-20px;
        opacity: 0; 
    }
}

@keyframes fadeInTwo {
    0% {
        top: 60px;
        opacity: 1;
    }

    50% {
        top: 20px;
        opacity: 0.5;
    }

    100% {
        top: -20px;
        opacity: 0;
    }
}

.header .headerTop .scores .scoresAnimation-true {
    position: absolute;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#000;
    opacity: 0;
    left: 20px;
    animation: fadeInOne 2s ;
    -webkit-animation: fadeInOne 2s;
}
.header .headerTop .scores .scoresAnimation-false {
    position: absolute;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    opacity: 0;
    top: 60px;
    left: 20px;
    animation: fadeInTwo 2s;
    -webkit-animation: fadeInTwo 2s;
}

.header .headerBottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .headerBottom .intro{
    margin: 20px;
    height: 50%;
}
.header .headerBottom .intro>span{
    font-size: 18px;
    font-family: 'Miscrosoft Yahei';
    font-weight: bold;
    color: #776E65;
}
.header .headerBottom .reStart{
    height: 60px;
    line-height: 60px;
    width: 150px;
    margin: 20px 30px;
    background: #8f7a66;
    border: 1px solid #bbb;
    border-radius: 8px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: "Miscrosoft Yahei";
    text-align: center;
}
.header .headerBottom .reStart:hover{
    cursor: pointer;
    color: #8f7a66;
    background: #fff;
    border: 1px solid #8f7a66;
}